body {
  background-color: lightgray;
  margin: 0;
}
.header {
  background-color: #ffffff;
  padding: 20px 0;
}
.centered-container {
  width: 660px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 22px;
  font-weight: bold;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.list-item {
  margin-left: 20px;
}

.link {
  color: black;
  text-decoration: none;
}
.taitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  margin: 5px;
}
.box-container {
  display: grid;
  grid-template-columns: 8px 8px;
  grid-template-rows: 8px 8px;
  gap: 4px;
  padding: 30px;
}
.box {
  background-color: blue;
}
.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
