body {
  color: white;
  font-family: "Roboto", sans-serif;
}
.body-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 46px;

  background: url(./image/background\ 1.png);
  background-size: cover;
}
a {
  color: white;
}
.container {
  width: 1030px;
  margin: 0 auto;
}
.header {
  display: flex;
}
.heager-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  margin-left: auto;
}
.header-image {
  margin-right: 8px;
}
.image-orange {
  display: none;
}
.header-text {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header-text-title {
  font-size: 29px;
}
.header-text-item {
  font-size: 18px;
}
.phone-number {
  padding-top: 19px;
}
.header-link {
  display: flex;
  justify-content: right;

  text-decoration: none;
}

.header-link:hover {
  color: #f26522;
}
.header-link:hover .image-white {
  display: none;
}
.header-link:hover .image-orange {
  display: block;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 65px;
  row-gap: 37px;
  margin-top: 27px;
}
.main-cart {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main-link {
  text-decoration: none;
}
.main-cart:hover .cart-inside-the-text {
  display: flex;
}
.main-cart:hover .main-cart-text {
  color: #f26522;
}
.main-cart-text {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.cart-inside-the-text {
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 40px;

  background-color: #f26522;
  padding: 7px 16px 12px 16px;
}
.text-details-chevron {
  margin-left: 12px;
}

.text-item {
  font-size: 10px;
  line-height: 14px;
}
.text-price {
  margin-top: 6px;
  font-size: 20px;
}
.text-details {
  font-size: 14px;
}

.footer {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
  padding-bottom: 15px;
}
