body {
  font-family: "Open Sans", sans-serif;
}

.header-menu {
  background-color: #313131;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-item,
.logo {
  font-size: 15px;
  padding-right: 35px;
  text-transform: uppercase;
}
.header-menu-item a {
  color: #ffffff;
  text-decoration: none;
}

.image-logo {
  padding-right: 27px;
}
.header-menu-item a:hover {
  color: #14b9d5;
}
.logo {
  font-size: 22px;
  margin-right: auto;
  padding: 22px;
  display: flex;
  align-items: center;
  text-transform: none;
}
.header-menu-item:last-of-type {
  margin-left: auto;
  padding: 26px;
  background-color: #000000;
}

.centered {
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 27px;
  height: 369px;
  background: url(./Images/title-background.png);
  background-position: center;
}

.button {
  color: #ffffff;
  font-size: 18px;
  padding: 17px;
  margin-top: 44px;
  margin-bottom: 74px;
}
.button.green {
  background-color: #89ca62;
  margin-right: 20px;
}
.button.blue {
  background-color: #14b9d5;
}
.post-container {
  background-color: #f2f2f2;
}
.posts-title-cards {
  color: #18b4cf;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}
.posts-cards-container {
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
}
.posts-column {
  margin-left: 30px;
}
.posts-column:first-of-type {
  margin-left: 0;
}
.posts-card {
  width: 370px;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.posts-text-card {
  font-weight: bold;
  font-size: 18px;
  color: #353a3d;
  text-align: center;
  padding: 20px 0;
}
.clients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./Images/popular_clints.jpeg);
  background-position: center;
}
.clients-title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 107px;
}
.line {
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  margin: 90px 0;
}
.clients-images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 192px;
}
.clients-image-item {
  margin-right: 60px;
}
.clients-image-item:last-of-type {
  margin-right: 0;
}
.top-rated {
  height: 190px;
  display: flex;
}
.top-rated img {
  flex: 1;
  width: 13vw;
  /* viewport width */
}
.hot-news-container {
  max-width: 1170px;
  margin: 0 auto;
}
.news-container {
  display: flex;

  margin-bottom: 42px;
}
.news-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  background-color: #f9f7f7;
  color: #5b6469;
  font-size: 14px;
  padding: 12px;
}
.news-text-img {
  background-color: #f9f7f7;
  margin-left: 35px;
}
.news-text-img-right {
  margin-left: 0;
  margin-right: 35px;
}
.title {
  color: #353a3d;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 0;
}
.news-title-item {
  margin: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #353a3d;
}
.news-grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-bottom: 42px;
}
.grid-text {
  background-color: #f9f7f7;
}
.footer-container {
  font-size: 13px;
  color: #ffffff;
  background-color: #000000;
}
.footer-logo-text {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos {
  display: flex;
  align-items: flex-start;
}
