body {
  margin: 0;
}
.container {
  background-color: #fffff0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.box-item {
  width: 20px;
  margin-left: 15px;
  border-radius: 0 0 20px 20px;
}

.text {
  text-transform: uppercase;
  color: #5ccbc0;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;
  align-self: center;
  text-align: end;
  margin-right: 5px;
}

.first,
.eighth {
  background-color: #5ccbc0;
  height: 80%;
}
.second,
.seventh {
  background-color: #f5db10;
  height: 88%;
}
.third,
.sixth {
  background-color: #f89400;
  height: 72%;
}
.fourth,
.fifth {
  background-color: #e80c00;
  height: 96%;
}
.fifth {
  height: 80%;
}
.sixth {
  height: 85%;
}
.seventh {
  height: 72%;
}
.eighth {
  height: 85%;
}
