.container {
  background-color: coral;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-container {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.header-item {
  background-color: blueviolet;
  width: 100px;
  height: 30px;
}
.main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.min-container {
  background-color: cyan;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ferst {
  background-color: darkred;
  width: 20px;
  height: 20px;
}
.blue {
  background-color: blue;
  height: 20px;
}
