.section-gold {
}
.section-gold .card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}
.section-gold .cart-item {
  padding: 8px;
  box-sizing: border-box;
  width: 25%;
}
.section-gold .card-box {
  padding-bottom: 35px;
  box-sizing: border-box;
  border-bottom: 2px solid #333;
}
.section-gold .card-header {
  background-color: black;
  padding: 16px;
  font-size: 18px;
}
.section-gold.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.section-gold .card-desc {
}
.section-gold .card-list {
}
.section-gold .card-item {
}
