body {
  font-family: "Segoe UI";
}
a {
  color: inherit;
  text-decoration: inherit;
}
.header {
  width: 1000px;
  margin: 0 auto;
  border-bottom: 3px solid #f1b128;
}
.header-logo,
.header-menu {
  display: inline-block;
}
.header-logo {
  width: 136px;
}
.menu-list {
  padding: 0;
  list-style: none;
}
.menu-item {
  color: #3d3d3d;
  display: inline-block;
  margin-left: 68px;
  font-size: 18px;
}

.active {
  color: #f1b128;
}
