.table-product {
  width: 1024px;
  margin: 0 auto;
}
.table-product .table-header {
  background-color: blue;
  color: #fff;
  font-size: 12px;
}
.table-product .header-item {
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: left;
  text-transform: uppercase;
}

.table-product .header-item:not(..first-child) {
  border-left: 1px solid #fff;
}
.table-product .table-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dashed blue;
  padding: 8px 6px;
}
.table-product .table-cell {
  padding: 16px 24px;
  box-sizing: border-box;
  border-bottom: 1px dashed blue;
}
}
.table-product .table-row {
  border-bottom: 1px dashed blue;
}
.table-product .table-footer{
    text-align: right;
}
/*@import './reset.css';

body {
	font-family: system-ui, sans-serif;
	display: grid;
	justify-content: center;
	align-items: center;
	color: #ff7700;
	height: 100vh;
}

.grid-container {
	display: grid;
	border: 15px solid #3e3e3e;
	grid-template-columns: 80px 30px 80px 60px 60px 90px 90px;
	grid-template-rows: 60px repeat(2, 130px) repeat(2, 60px) repeat(3, 65px);
	grid-gap: 8px;
	background-color: #3e3e3e;
}
*/

/* #grid { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    }
  #grid > div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
  } */
