body {
  margin: 0;
}

.page {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}
.box-item {
  background-color: #cecece;
  width: 75px;
  height: 75px;
  padding-top: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red {
  background-color: #e03f34;
}
.blue {
  background-color: #42bfc5;
}
