.body {
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: blueviolet;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.header-item {
  width: 20px;
  height: 20px;
  background-color: cadetblue;
  margin-left: 10px;
}
.header-item:first-of-type {
  margin-right: auto;
}
.main {
  flex: 1;
  display: flex;
}
.nav {
  background-color: thistle;
  padding: 20px;
}
.nav-item {
  width: 30px;
  height: 20px;
  background-color: tomato;
  margin-top: 10px;
}
.nav-item:first-of-type {
  margin-top: 0;
}
.main-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: yellow;
}
.card {
  width: 120px;
  height: 60px;
  background-color: violet;
  margin-bottom: 10px;
  display: flex;
}
.img {
  background-color: turquoise;
  flex: 1;
}
.text-img {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}
.text-img-item {
  background-color: white;
  margin-bottom: 10px;
  width: 30px;
  height: 20px;
}
.text-img-item:first-of-type {
  width: 60px;
}
