body {
  font-family: Ubuntu, sans-serif;
}
a {
  text-decoration: none;
}
.background {
  background: url(./image/Фон\ 1.png);

  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 18px 50px;
}
.list-item {
  margin-left: 25px;
  color: #fff;
  cursor: pointer;
}
.list-item-icon:hover {
  fill: #3cb878;
}
.logo {
  font-size: 22px;
  font-weight: 700;
  margin-right: auto;
}
.border {
  border-left: 1px solid #fff;
  padding-left: 25px;
}
.white-link {
  text-decoration: none;
  color: #fff;
}
.white-link:hover {
  color: #3cb878;
}
.text-link {
  color: #3cb878;
}
.text-link:hover {
  border-bottom: 1px solid #01813f;
}
.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 444px;
  padding: 31px 61px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
  margin: 54px 461px 71px;
}
.card-item {
  display: flex;
  justify-content: space-between;
}
.green-square {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0px;
  top: 29px;
}
.sign-up {
  font-size: 20px;
  color: #434343;
}
.login-buttons {
  display: flex;
  gap: 5px;
  margin-top: 16px;
}

.login-button {
  font-size: 16px;
  flex: 1;
  padding: 10px 27px 10px 12px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-button-line {
  width: 1px;
  height: 28px;
  margin-left: 7px;
  background-color: #2b0d09;
  opacity: 0.1;
}
.login-button-title {
  margin-left: auto;
  color: white;
}

.google {
  background-color: #df4a32;
}

.google:hover {
  background-color: #ab1f09;
}

.facebook {
  background-color: #305db8;
}
.facebook:hover {
  background-color: #022263;
}
.or-container {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.or-line {
  flex: 1;
  height: 1px;
  background-color: #f2f2f2;
}
.or {
  font-size: 14px;
  margin: 0 5px;
}
.full-width-input {
  width: 100%;
  box-sizing: border-box;
}

.text-input {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 15px 19px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.text-input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border: 1px solid transparent;
  outline: none;
}
.checkbox {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.button {
  margin-top: 20px;
  padding: 16px 99px;
  font-size: 16px;
  color: #fff;
  background-color: #3cb878;
  border: none;
}
.button:hover {
  background-color: #01813f;
}
