/* 1. Задать общую вертикальную структуру сайту. Внести весь сайт в container */
/* 2. Убрать margin и все стили в изображени. Создать контейнер для изображения, отцентрировать изображение в своей контейнере */
/* 3. Для aside убрать высоту, и добавить padding для каждого aside-holder-row. Добавить стили для hover */
/* 4. Задать отступы 50px между header, aside, main-text */

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header-title {
  color: #000000;
  font-size: 80px;
  text-decoration: none;
  line-height: 94px;
  margin-bottom: 40px;
}
.header-title-blue {
  color: #4bcaff;
}
.header-navigation {
  background-color: #35444f;
  color: #ffffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.header-navigation-item {
  border-left: 1px solid #ffffff;
  padding-left: 50px;
  padding: 20px;
}
.header-navigation-item:hover {
  background-color: #222f3a;
}

/* :hover при наведении */
/* :last-of-type последний элемент в своем списке  */
.header-navigation-item:last-of-type {
  border-right: 1px solid #ffffff;
}

.aside-img {
  display: flex;
  justify-content: space-between;
}
.aside-holder {
  width: 345px;
  font-size: 27px;
  color: #485863;
  padding: 0;
  margin: 0;
  border: 1px solid #000000;
}
.aside-holder-row {
  list-style-type: none;
  padding: 27px 38px;
  color: #485863;
}
.aside-holder-row:hover {
  color: #35444f;
  background-color: #dbdbdb;
  text-align: center;
}
.image-container {
  display: flex;
  justify-content: center;
  padding: 75px 0;
  border: 1px solid #000000;
  margin-bottom: 35px;
}
.image-container:hover img {
  transform: scale(1.2);
  transition: transform 1s;
}

.main-text {
  width: 885px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  color: #2c2c2c;
}
.footer-menu {
  display: flex;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
  padding: 0 40px;
}
.footer-menu-item,
.copyright {
  font-size: 28px;
  color: #0c1927;
  list-style-type: none;
  margin-right: 20px;
  padding-top: 20px;

  margin-bottom: 8px;
  padding-bottom: 12px; /*padding-top - margin-bottom*/
}
.footer-menu-item:hover {
  color: #3583a7;
  border-bottom: 1px solid #3181a6;
  padding-bottom: 11px; /*padding-bottom - border-bottom*/
}

.copyright {
  font-size: 24px;
  color: #010101;
  margin-left: auto;
  margin-right: 0;
}
