body {
  font-family: "Segoe UI";
}
.navigation {
  width: 968px;
  margin: 0 auto;
}

.nav-menu {
  margin-left: 20px;
  border: 1px solid #333333;
  padding: 12px 44px;

  background: #ffffff;
}

.myactive {
  background: #333333;
  color: #f1ad1d;
}
