.header {
  background-color: #fff;
}
.container {
  max-width: 680px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  padding: 20px 0;
}
.header-nav,
.main-nav {
  display: flex;
}
.navigation {
  list-style-type: none;
  display: flex;
}
.nagation-item {
  margin-left: 10px;
}
.line {
  padding-right: 10px;
  border-right: 1px solid #000;
  /* width: 1px; */
}
.image-header {
  width: 20px;
  margin-left: 20px;
}
.img-text {
  position: relative;
}
.main-img {
  width: 100%;
}
.main-text {
  font-size: 26px;
  font-weight: bold;

  position: absolute;
  top: 50%;
  left: 45%;
  right: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}
.grid-img {
  object-fit: cover;
  width: 220px;
  height: 100%;
}
