body {
  background-color: black;

  /* записать */
  overflow: hidden;
}
.text-container {
  height: 100vh;
  display: flex;
  perspective: 500px;
  justify-content: center;
  align-items: flex-start;
}

.text {
  animation: my-animation 30s linear infinite;
  line-height: 1.2;
  width: 500px;
  color: yellow;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.paragraph {
  margin-bottom: 20px;
}

@keyframes my-animation {
  from {
    transform: rotateX(50deg) translateY(1000px);
  }
  to {
    transform: rotateX(50deg) translateY(-1000px);
  }
}
