body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  display: flex;
}

.box-item {
  flex: 1;
  height: 100vh;
  background-color: #edb53d;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.text {
  font-size: 20px;
  font-weight: bold;
}
.a {
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  margin-top: 10px;
  border-bottom: 1px solid #fff;
}
.red {
  background-color: #ee8164;
}
.stopping {
  padding-top: 20px;
  margin-bottom: auto;
  align-self: center;
  color: #fff;
}
.blue {
  background-color: #b0c7d1;
}
.icon {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon1 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.icon2 {
  position: absolute;
  bottom: 50vh;
  right: 10px;
}
