.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

.box1 {
  background-color: aqua;
}

.box2 {
  background-color: blueviolet;
}
.smallbox {
  /* static, relative, absolute, fixed */
  position: static;
  bottom: 90px;
  right: 90px;
  width: 50px;
  height: 50px;
  background-color: red;
}

.box3 {
  background-color: greenyellow;
}

.player {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: red;
}

.button {
  margin: 20px;
  width: 60px;
  height: 60px;
  background-color: blue;
}
.button:last-of-type {
  margin-left: auto;
}
