.flex-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;

  justify-content: center;
  align-items: stretch;

  height: 200px;
  background-color: lightblue;
  padding: 20px;
}

.menu-item {
  list-style-type: none;
  border: 1px solid gray;
  padding: 10px;
  background-color: black;
  color: white;
  min-width: 50px;
}
