.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 10vh;
  background-color: yellow;
}
.main {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  background-color: yellowgreen;
}
.squaer {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(214, 57, 97);
}
.text {
  display: flex;
  justify-content: space-between;
}
.squaer-item {
  width: 30px;
  height: 30px;
  background-color: azure;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  height: 10vh;
  background-color: aqua;
}
