body {
  background-color: black;
  color: white;
}
.page {
  display: flex;
  height: 100vh;
}
.title {
  font-size: 56px;
  padding: 20px;
  border: 2px solid gray;
}
.oa {
  display: flex;
  flex-direction: column;
}
.entrance {
  flex: 10;
}
.entrancet {
  flex: 1;
}
.a {
  flex: 1;
}
.b {
  flex: 2;
}
