.cards-container {
  display: flex;
  justify-content: center;
  padding: auto;
}
.card {
  width: 100px;
  height: 33vh;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}
.card-ferst {
  margin-left: 0;
}

.box {
  width: 40px;
  height: 20px;
  background-color: black;
  margin-top: 10px;
}
.box-first {
  width: 100%;
  margin-top: 0;
}
/* three */
.box-tree {
  margin-top: auto;
}
