.image-container {
  background: url(./image/Layer\ 21\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
}
.backgraund-font {
  flex: 1;
}
.font {
  flex: 2;
}
.text {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.entrance {
  flex: 5;
}
.entrancet {
  flex: 1;
}
.text-item {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
}
.text-templat {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 22px 0;
}

.text-design {
  font-size: 54px;
  line-height: 66px;
  border: 1px solid #fff;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
}
.text-design-item {
  padding: 38px 23px;
  box-sizing: border-box;
}
.line {
  border-right: 1px solid #f48e0b;
}
a {
  text-decoration: none;
  color: #f48e0b;
}
