.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-logo {
  font-family: Montserrat sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #333;
  margin: 100px 0 28px 0;
}

.logo-text {
  font-family: Lato sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #4d4943;
}

.logo-line {
  width: 60px;
  height: 2px;
  background-color: #f1ad1d;
  margin: 50px 0;
}

.nav-container {
  align-self: stretch;
}

.nav-logo {
  margin-right: auto;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 60px;

  max-width: 1170px;
  margin: 0 auto;

  border-bottom: 2px solid #f1ad1d;
  padding-bottom: 22px;
  margin-top: 5px;
}

.logo-link {
  color: #3d3d3d;
}

.logo-link:hover {
  color: #f48e0b;
}
