.content {
  display: flex;
  justify-content: center;
}
.card {
  width: 268px;
  height: 426px;
  margin-left: 20px;
  background-color: rgb(224, 224, 211);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #333333;
  /*list-style-type: none;
  border-bottom: 1p solid green; */
}
.card-title {
  width: 100%;
  box-sizing: border-box;
  background-color: #333333;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
.icon {
  width: 50px;
  height: 45px;
  margin: 10px;
}
.card-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #505050;
  padding: 10px;
}
.line-thumb {
  width: 66px;
  background-color: #f48e0b;

  height: 1px;
  left: 104px;
  top: 249px;
  margin: 10px;
  margin-top: auto;
}
.card-list-title {
  font-size: 18px;
  line-height: 22px;
  color: #505050;
  font-weight: bold;
  text-align: center;
}
.card-list {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
