body {
  margin: 0;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-button {
  font-size: 60px;
  padding: 20px 40px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
