body {
  color: #fff;
}
.container {
  background-color: #c4c4c4;
  margin: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.box-red {
  background-color: #ec2020;
  width: 188px;
  height: 188px;
}
.box-red:first-of-type {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.box-red:last-of-type {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.box-blue {
  background-color: #3f45cf;
  width: 54px;
  height: 54px;
}
