body {
  font-family: "Segoe UI";
  margin: 0;
}

/* HEADER */
.navigation {
  width: 556px;
  margin: 0 auto;
}
.menu {
  padding: 0;
}
.menu-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  margin-left: 72px;
}
.menu-item .menu-item-link {
  color: #ff0000;
  text-decoration: none;
}
.menu-item-first {
  margin-left: 0;
}

/* MAIN */
.main-image {
  width: 100%;
}

.content-text {
  margin: 42px 68px;
  text-align: center;
  color: #373737;
}
.paragraph {
  line-height: 26px;
  letter-spacing: 2.4px;
}
.title {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}
.button {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff0000;
  padding: 18px 44px;
  border-radius: 4px;
  border: none;
  margin: 68px 0;
}

/* FOOTER */
.footer-copyright {
  text-align: right;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 29px 105px;
}
